<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        magic="WebClient"
        class="WebClientProps"
    >
        <label
            magic="Label_a"
            class="Label_aProps mgFont1"
        >
            a
            </label>
            <input
                type="text"
                formControlName="A"
                magic="A"
                class="AProps"
            />
            <label
                magic="Label_b"
                class="Label_bProps mgFont1"
            >
                b
                </label>
                <input
                    type="text"
                    formControlName="B"
                    magic="B"
                    class="BProps"
                />
                <input
                    type="button"
                    magic="btn_ctrl_1"
                    class="btn_ctrl_1Props"
                />
                </div>
                </form>