<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        magic="BrowseWebClient"
        class="BrowseWebClientProps"
    >
        <div
            class="Table1"
            magic="Table1"
            class="Table1Props"
            infinite-scroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="500"
            (scrolled)="onScrollDown()"
            [scrollWindow]="false"
        >
            <div *ngFor="let row of task.Records.list">
                <div
                    *ngIf="mgIfRowCreated(row.rowId)"
                    id="row"
                >
                    <form
                        [formGroup]="mgGetFormGroupByRow(row.rowId)"
                        class="Table1_table_rowProps"
                        [ngClass]="{ 'selected': isRowSelected('Table1', row.rowId)}"
                    >
                        <div
                            magic="tmpID0"
                            class="tmpID0Props"
                        >
                            <input
                                type="text"
                                formControlName="tmpID1"
                                magic="tmpID1"
                                [rowId]="row.rowId"
                                class="tmpID1Props"
                            />
            </div>
            <div
                magic="tmpID2"
                class="tmpID2Props"
            >
                <input
                    type="text"
                    formControlName="tmpID3"
                    magic="tmpID3"
                    [rowId]="row.rowId"
                    class="tmpID3Props"
                />
                </div>
                </form>
                </div>
                </div>
                </div>
                </div>
                </form>